<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <h2>Enter the changes you want to do</h2>
        <form action="/change" method="POST">
            <input type="text" autocomplete="off" autofocus name="name" placeholder="Name">
            <input type="text" autocomplete="off" autofocus name="month" placeholder="Month">
            <input type="text" autocomplete="off" autofocus name="day" placeholder="Day">
            <input type="hidden"  name="id" value = "{{id}}">
            <input type="submit" value="Confirm">

        </form>
    </body>
</html>