{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Transaction type</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total value</th>
            <th scope="col">Time of transaction</th>
        </tr>
        </thead>
        <tbody>
        {% for info in informations %}
        <tr>
            <td>{{info["symbol"]}}</td>
            <td>{{info["type"]}}</td>
            <td>{{info["price"] | usd}}</td>
            <td>{{info["quantity"] | usd}}</td>
            <td>{{info["totalValue"] | usd}}</td>
            <td>{{info["time"]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}